button {
  border-radius: 20px;
  padding: 7px 20px;
  display: flex;
  gap: 10px;
  background: rgba(17, 52, 70, 0.53);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 14px;
  font-family: montserrat;
  align-items: center;
}