.main-login-container {
  background: url('../../assets/background-images/login.png') no-repeat center
    center fixed;
  background-size: cover;
  height: 100vh;
  padding-right: 10px;
  padding-left: 10px;

  .align-button {
    margin: auto;
    margin-top: 10px;
    max-width: 460px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  .glassyBg {
    border-radius: 10px;
    max-width: max(800px, 42%);
    padding-bottom: 65px;
    color: #fff;
    background: rgba(17, 52, 70, 0.53);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(53, 81, 93, 1);
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

    .name {
      font-weight: bold;
      font-size: 2.5rem;
      margin-top: 50px;
      margin-bottom: 0px;
    }
    .desc {
      font-size: 1.5rem;
    }

    @media screen and (max-device-width: 768px) {
      .name {
        font-size: 38px;
      }
      .desc {
        font-size: 1.25rem;
      }
    }
    @media screen and (max-device-width: 480px) {
      .name {
        font-size: 30px;
      }
      .desc {
        font-size: 1rem;
      }
    }
  }
  @media screen and (max-device-width: 480px) {
    .logo-container {
      padding-left: 30px;
    }
    img {
      width: 80px;
    }
  }
  .footer {
    margin: 0px 0px;
    font-size: 1rem;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    width: 98%;
    text-align: center;
  }
}
.login {
    background: linear-gradient(#f80705, #7b1e1d);
    cursor: pointer;
  }
